@import 'search-bar.css';

@font-face {
  font-family: Avenir;
  src: url(../fonts/Avenir-Book.ttf);
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: Avenir, sans-serif;
  font-style: normal;
  line-height: 1px;
}

* {
  padding: 0;
  box-sizing: border-box;
}
